# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

liquidsoap-daemon
docker-compose.yml
config.sh
configure.sh
rebuild.sh
.git
*.ini
*.pub
/templates/nginx/certs/cert*
# dependencies
/src/Config/config.json
/config
/src/auth/Login.tsx
/node_modules
/.pnp
.pnp.js
/local
/public/images/secret
/conf/service.json

# testing
/coverage
__pycache__
# production

/build
/music

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json