services:
  lobster:
    container_name: tank
    build: 
      dockerfile: ./Dockerfile
    volumes:
      - config:/config 
      - var:/var/tmp
      - app:/var/app
      - log:/var/log/liquidsoap
      - init:/custom-cont-init.d

    networks:
      - lobster

  liquidsoap:
    depends_on:
      - lobster 
    container_name: liquidsoap
    image: savonet/liquidsoap:v2.2.5    
    environment:
      - TMPDIR=/var/tmp/
      - PATH=/var/app/bin:/usr/bin/:/bin
    command:
      - /var/app/bin/stream.liq
    volumes:
      - log:/var/log/liquidsoap
      - var:/var/tmp
      - app:/var/app
    networks:
      - lobster
      
  swag:
    depends_on:
      - lobster
      - liquidsoap
    image: lscr.io/linuxserver/swag:latest
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=100
      - PGID=101
      - TZ=Etc/UTC
      - URL={{ server_name }}
      - VALIDATION=http
#      - SUBDOMAINS=www, #optional
#      - CERTPROVIDER= #optional
#      - DNSPLUGIN=cloudflare #optional
#      - PROPAGATION= #optional
#      - EMAIL= #optional
#      - ONLY_SUBDOMAINS=false #optional
#      - EXTRA_DOMAINS= #optional
      - STAGING={{ acme_staging }} #optional
#      - DISABLE_F2B= #optional
    volumes:
      - config:/config
      - var:/var/tmp
      - app:/var/app
      - init:/custom-cont-init.d:ro
    ports:
      - {{ https_port }}:443
      - {{ vars.ingress_port }}:9015
      - 80:80 # needed for TLS certificates from via automated ACME challenge for letsencrypt support
    networks:
      - lobster
    restart: unless-stopped

networks:
  lobster:    

volumes:
  var:
  app:
  config:
  init:  
  log:

